<!DOCTYPE html>
<html>
  <head>
    <title>Game Start</title>
  </head>
  <body>
    <h1>내가 고른 카드:</h1>
    <form method="POST" action="{% url 'attack' %}">
      {% csrf_token %}
      <ul>
        {% for card in cards %}
        <li>
          <input
            type="radio"
            name="card"
            id="card{{ card.id }}"
            value="{{ card.id }}"
            required
          />
          <label for="card{{ card.id }}">{{ card.number }}</label>
        </li>
        {% empty %}
        <li>No cards available</li>
        {% endfor %}
      </ul>

      <label for="defender">Defender:</label>
      <select name="defender" id="defender" required>
        <option value="" disabled selected>------</option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
      </select>
      <br />

      <button type="submit">Attack</button>
    </form>
  </body>
</html>
