{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/game_list.css' %}" />
<div class="game-history-container">
  <h2 class="player-info">
    현재 플레이어: <span>{{ request.user.id }}</span>
  </h2>

  <div class="game-list">
    {% for game in games_as_attacker %}
    <div class="game-item">
      <span class="game-id">{{ forloop.counter }} - {{ game.attacker_id.id }} VS {{game.defender_id.id }}</span>
      <span class="game-status">
        {% if game.status == '진' and not game.defend_num %} 진행 중... 
          {% if game.attacker_id == request.user %}
          <a href="{% url 'board:board_delete' game.id %}" class="action-button">게임 취소</a>
          {% elif game.defender_id == request.user %}
          <a href="{% url 'board:counter_attack' game.id %}" class="action-button">CounterAttack</a>
          {% endif %}
        {% endif %}

        {% if game.status == '종' %} 결과: 

        {% if game.result == "A" and game.attacker_id == request.user %} 👑👑 승리 👑👑 
        {% elif game.result == "D" and game.defender_id == request.user %} 👑👑 승리 👑👑 
        {% elif game.result == "A" and game.defender_id == request.user %} 😭 패배 😭 
        {% elif game.result == "D" and game.attacker_id == request.user %} 😭 패배 😭 
        {% else %} 무승부
        {% endif %}
        {% endif %}
      </span>
      <a href="{% url 'board:board_info' game.id %}" class="info-button">게임 정보</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
